/target/
.codapack
.recent_files
.idea/
.vscode
/MathJax/
Rscripts/*.RData
.Rproj.user
apache-maven-*
jdk-17*
R-4*
renjin-3.5*
*.log
*.RData
*.cdp
*.exe
*.zip
external-programs
cdp-macos-x64
cdp-macos-aarch64
cdp-windows